.Rproj.user
.Rhistory
.RData
.Ruserdata
.dcf
inst/doc
rsconnect
/doc/
/Meta/
docs
desktop
licences_list
query
cran-comments.md
CRAN-SUBMISSION
tests/testthat/Rplots.pdf
inst/app/Rplots.pdf
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
